#footer {
  height: 50px;
  background: rgb(233, 226, 226);
}

.pages-footer {
  height: 100%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-next-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background: rgb(51, 83, 94);
  color: #fff;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(51, 83, 94);
  outline: none;
}

.first-last-btn {
  width: 90px;
  height: 30px;
  cursor: pointer;
  background: rgb(51, 83, 94);
  color: #fff;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(51, 83, 94);
  outline: none;
}

.hide-footer {
  /* display: none; */
}

.number-of-pages {
  font-size: 20px;
  padding-top: 4px;
  width: 100px;
  text-align: center;
  height: 30px;
  border: 1px solid rgb(51, 83, 94);
}